# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.4,1.02]
anomaliatermica = pd.Series(dados)
anomaliatermica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:

# seu código aqui
anomaliatermica = pd.Series(dados,index=[1900,1920,1940,1960,1980,2000,2020])
anomaliatermica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [15]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_tempSerie = pd.Series(dic_temperaturas)
dic_tempSerie[1900]
dic_tempSerie[1900:1980]

Series([], dtype: float64)

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [78]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0   104.380997   98.794294   91.535914
1   101.344622  105.980921  114.033484
2   116.757345  103.985859   79.905060
3    88.183789   97.435107  101.685894
4    98.665396   97.729475   97.003304
5   111.078838   89.032426  104.274543
6   102.348322  114.504629  104.477862
7    99.335371   98.040791  103.592065
8   107.988071  113.565768  108.103778
9    96.984807  111.918794   91.767314
10  104.038311  103.359413  104.598366
11  105.250551   99.523297   96.179239
12   96.165356   90.420278  117.885401
13   71.913964  104.750387  102.992919
14  107.500766  123.949475   83.597187
15  115.283648  101.844846   97.170787
16  118.616142   82.710618   86.456684
17   99.651113   93.061731   94.794133
18  104.990673  105.821084  101.784302
19   94.568242   95.241917   92.176668

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [80]:
#seu código aqui
df.index = df.index + 1
df = pd.DataFrame(arr , df.index, columns=['x1','x2','x3'])
df

            x1          x2          x3
1   104.380997   98.794294   91.535914
2   101.344622  105.980921  114.033484
3   116.757345  103.985859   79.905060
4    88.183789   97.435107  101.685894
5    98.665396   97.729475   97.003304
6   111.078838   89.032426  104.274543
7   102.348322  114.504629  104.477862
8    99.335371   98.040791  103.592065
9   107.988071  113.565768  108.103778
10   96.984807  111.918794   91.767314
11  104.038311  103.359413  104.598366
12  105.250551   99.523297   96.179239
13   96.165356   90.420278  117.885401
14   71.913964  104.750387  102.992919
15  107.500766  123.949475   83.597187
16  115.283648  101.844846   97.170787
17  118.616142   82.710618   86.456684
18   99.651113   93.061731   94.794133
19  104.990673  105.821084  101.784302
20   94.568242   95.241917   92.176668

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [90]:
# seu código aqui
df['media'] = ((df['x1']+df['x2']+df['x3'])/3)
df

            x1          x2          x3       media
1   104.380997   98.794294   91.535914   98.237069
2   101.344622  105.980921  114.033484  107.119676
3   116.757345  103.985859   79.905060  100.216088
4    88.183789   97.435107  101.685894   95.768263
5    98.665396   97.729475   97.003304   97.799392
6   111.078838   89.032426  104.274543  101.461936
7   102.348322  114.504629  104.477862  107.110271
8    99.335371   98.040791  103.592065  100.322742
9   107.988071  113.565768  108.103778  109.885872
10   96.984807  111.918794   91.767314  100.223638
11  104.038311  103.359413  104.598366  103.998696
12  105.250551   99.523297   96.179239  100.317696
13   96.165356   90.420278  117.885401  101.490345
14   71.913964  104.750387  102.992919   93.219090
15  107.500766  123.949475   83.597187  105.015809
16  115.283648  101.844846   97.170787  104.766427
17  118.616142   82.710618   86.456684   95.927815
18   99.651113   93.061731   94.794133   95.835659
19  104.990673  105.821084  101.784302  104.198686
20   94.568242   95.241917   92.176668   93.995609

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [92]:
# seu código aqui
df['log_med'] = np.log((df['x1']+df['x2']+df['x3'])/3)

df

            x1          x2          x3       media   log_med
1   104.380997   98.794294   91.535914   98.237069  4.587384
2   101.344622  105.980921  114.033484  107.119676  4.673947
3   116.757345  103.985859   79.905060  100.216088  4.607329
4    88.183789   97.435107  101.685894   95.768263  4.561931
5    98.665396   97.729475   97.003304   97.799392  4.582918
6   111.078838   89.032426  104.274543  101.461936  4.619684
7   102.348322  114.504629  104.477862  107.110271  4.673859
8    99.335371   98.040791  103.592065  100.322742  4.608392
9   107.988071  113.565768  108.103778  109.885872  4.699442
10   96.984807  111.918794   91.767314  100.223638  4.607404
11  104.038311  103.359413  104.598366  103.998696  4.644378
12  105.250551   99.523297   96.179239  100.317696  4.608342
13   96.165356   90.420278  117.885401  101.490345  4.619964
14   71.913964  104.750387  102.992919   93.219090  4.534953
15  107.500766  123.949475   83.597187  105.015809  4.654111
16  115.283648  101.844846   97.170787  104.766427  4.651733
17  118.616142   82.710618   86.456684   95.927815  4.563596
18   99.651113   93.061731   94.794133   95.835659  4.562635
19  104.990673  105.821084  101.784302  104.198686  4.646300
20   94.568242   95.241917   92.176668   93.995609  4.543248